{% extends 'base.html.twig' %}

{% block title %}Liste Formations{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/formation.css") }}>
<link rel="stylesheet" href="{{ asset('css/custom_autocomplete.css') }}">

<div class="forma">
    <div class="title-ctn">
        <div class="title">Formations</div>
    </div>
    <div class="search-ctn">
        <div class="titre">Recherche</div>
        {{ form_start(form) }}
        <div class="search">
            {{ form_row(form.formation, {'label':false})}}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Formation en cours</div>
            <div class="tab">
                <table>
                    <thead>
                        <td>Intitulé</td>
                        <td>nb Sessions</td>
                        <td>nb Modules</td>
                        <td>Durée Total</td>
                        <td>Place</td>
                        <td>Progression</td>
                    </thead>
                    <tbody>
                    {% set i = 0 %}
                    {% for formation in formations %}
                        <tr>
                            <td><a href="{{ path('show_formation', {'id': formation.id }) }}">{{ formation }}</a></td>
                            <td>{{ data[i].nbSession }}</td>
                            <td>{{ data[i].nbModules }}</td>
                            <td>{{ data[i].duree }} Jours</td>
                            <td>{{ data[i].placesV }} / {{ data[i].placesT }}</td>
                            <td>{{ data[i].progression }}</td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}