{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href={{ asset("/home.css") }}>
<div class ="home">
    <div class="ctn1"><div class="cadre">Bonjour </div></div>
    <div class="ctn2"><div class="cadre">{{ app.user.formateur.prenom }}</div></div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Session à venir</div>
            <div class="tab">
                <table>
                    <thead>
                        <tr class="action">
                            <td>Statut</td>
                            <td>Formation</td>
                            <td>Session</td>
                            <td>Date de début</td>
                            <td>Date de fin</td>
                            <td>Inscrit</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                        {% if session.getStatus == 0 %}
                        <tr>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">A venir</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.formation.intitule }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.intitule }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateDebut | date('d-m-y')}}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateFin | date('d-m-y') }}</div></a></td>
                            {% if session.getParticiper is iterable %}
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.getParticiper | length }} / {{ session.place }}</div></a></td>
                            {% else %}
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">0 / {{ session.place }}</div></a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Session en cours</div>
            <div class="tab">
                <table>
                    <thead>
                        <tr class="action">
                            <td>Statut</td>
                            <td>Formation</td>
                            <td>Session</td>
                            <td>Date de début</td>
                            <td>Date de fin</td>
                            <td>Inscrit</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                        {% if session.getStatus > 0 and session.getStatus < 100  %}
                        <tr>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.getStatus | round(2) }} %</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.formation.intitule }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.intitule }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateDebut | date('d-m-y')}}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateFin | date('d-m-y') }}</div></a></td>
                            {% if session.getParticiper is iterable %}
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.getParticiper | length }} / {{ session.place }}</div></a></td>
                            {% else %}
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">0 / {{ session.place }}</div></a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Session passé</div>
            <div class="tab">
                <table>
                    <thead>
                        <tr class="action">
                            <td>Statut</td>
                            <td>Formation</td>
                            <td>Session</td>
                            <td>Date de début</td>
                            <td>Date de fin</td>
                            <td>Inscrit</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                        {% if session.getStatus == 100 %}
                        <tr>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">Passé</td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.formation.intitule }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.intitule }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateDebut | date('d-m-y')}}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateFin | date('d-m-y') }}</div></a></td>
                            {% if session.getParticiper is iterable %}
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.getParticiper | length }} / {{ session.place }}</div></a></td>
                            {% else %}
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">0 / {{ session.place }}</div></a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Planing</div>
            <div class="plan">
                <table>
                    <thead>
                        <tr class="action">
                            <td>Lundi</td>
                            <td>Mardi</td>
                            <td>Mercredi</td>
                            <td>Jeudi</td>
                            <td>Vendredi</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="action">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="action">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <!--
    <div class="mb-3">
        Vous etes connecté en tant que : {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    -->

{% endblock %}
