{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href={{ asset("/home.css") }}>
<div class ="home">
    <div class="ctn1"><div class="cadre">Bonjour </div></div>
    <div class="ctn2"><div class="cadre">{{ app.user.email }}</div></div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Planing</div>
            <div class="plan">
                <table>
                    <thead>
                        <td>Lundi</td>
                        <td>Mardi</td>
                        <td>Mercredi</td>
                        <td>Jeudi</td>
                        <td>Vendredi</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Session à venir</div>
            <div class="tab">
                <table>
                    <thead>
                        <td>Statut</td>
                        <td>Formation</td>
                        <td>Session</td>
                        <td>Date de début</td>
                        <td>Date de fin</td>
                        <td>Inscrit</td>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                        {% if session.getStatus == 0 %}
                        <tr>
                            <td>A venir</td>
                            <td>{{ session.formation.intitule }}</td>
                            <td>{{ session.intitule }}</td>
                            <td>{{ session.dateDebut | date('d-m-y')}}</td>
                            <td>{{ session.dateFin | date('d-m-y') }}</td>
                            {% if session.getParticiper is iterable %}
                            <td>{{ session.getParticiper | length }} / {{ session.place }}</td>
                            {% else %}
                            <td>0 / {{ session.place }}</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Session en cours</div>
            <div class="tab">
                <table>
                    <thead>
                        <td>Statut</td>
                        <td>Formation</td>
                        <td>Session</td>
                        <td>Date de début</td>
                        <td>Date de fin</td>
                        <td>Inscrit</td>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                        {% if session.getStatus > 0 and session.getStatus < 100  %}
                        <tr>
                            <td>{{ session.getStatus | round(2) }} %</td>
                            <td>{{ session.formation.intitule }}</td>
                            <td>{{ session.intitule }}</td>
                            <td>{{ session.dateDebut | date('d-m-y')}}</td>
                            <td>{{ session.dateFin | date('d-m-y') }}</td>
                            {% if session.getParticiper is iterable %}
                            <td>{{ session.getParticiper | length }} / {{ session.place }}</td>
                            {% else %}
                            <td>0 / {{ session.place }}</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Session passé</div>
            <div class="tab">
                <table>
                    <thead>
                        <td>Statut</td>
                        <td>Formation</td>
                        <td>Session</td>
                        <td>Date de début</td>
                        <td>Date de fin</td>
                        <td>Inscrit</td>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                        {% if session.getStatus == 100 %}
                        <tr>
                            <td>Passé</td>
                            <td>{{ session.formation.intitule }}</td>
                            <td>{{ session.intitule }}</td>
                            <td>{{ session.dateDebut | date('d-m-y')}}</td>
                            <td>{{ session.dateFin | date('d-m-y') }}</td>
                            {% if session.getParticiper is iterable %}
                            <td>{{ session.getParticiper | length }} / {{ session.place }}</td>
                            {% else %}
                            <td>0 / {{ session.place }}</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>

    <!--
    <div class="mb-3">
        Vous etes connecté en tant que : {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    -->

{% endblock %}
