{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/formation.css") }}>
<div class="forma">
    <div class="title-ctn">
        <div class="title">{{ utilisateur.nom }} - {{ utilisateur.prenom }}</div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Liste des Sessions</div>
            <div class="tab">
                <table>
                    <thead>
                        <tr class="action">
                            <td>Intitulé</td>
                            <td>Date de Début</td>
                            <td>Date de Fin</td>
                            <td>Places</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateDebut | date("d-m-Y") }}</div></a></td>
                            <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.dateFin | date("d-m-Y") }}</div></a></td>
                            {% if session.getParticiper is iterable %}
                                <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">{{ session.getParticiper | length }} / {{ session.place }}</div></a></td>
                            {% else %}
                                <td><a href="{{ path('show_session', {'id': session.id }) }}"><div class="link">0 / {{ session.place }}</div></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}