{% extends 'base.html.twig' %}

{% block title %}Liste Stagiaire{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/formation.css") }}>
<div class="forma">
    <div class="title-ctn">
        <div class="title">Stagiaires</div>
    </div>
    <div class="search-ctn">
        <div class="titre">Recherche</div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Stagiaire inscrit</div>
            <div class="tab">
                <table>
                    <thead>
                        <tr class="action">
                            <td>Nom</td>
                            <td>Prenom</td>
                            <td>E-mail</td>
                            <td>Date de Naissance</td>
                            <td>Sexe</td>
                            <td>Telephone</td>
                            <td>Ville</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for stagiaire in stagiaires %}
                        <tr>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><div class="link">{{ stagiaire.nom }}</div></a></td>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><div class="link">{{ stagiaire.prenom }}</div></a></td>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><div class="link">{{ stagiaire.email }}</div></a></td>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><div class="link">{{ stagiaire.dateNaissance | date("d-m-Y") }}</div></a></td>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><div class="link">{{ stagiaire.sexe }}</div></a></td>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><div class="link">{{ stagiaire.telephone }}</div></a></td>
                            <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"><div class="link">{{ stagiaire.ville }}</div></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
