{% extends 'base.html.twig' %}

{% block title %}Liste Stagiaire{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/detailStagiaire.css') }}" />

<div class="forma">
<div class="profil">
    <div class="picture margR2"><img class="miniature" src={{ asset("Stagiaire/" ~ stagiaire.portrait) }}></img></div>
    <div class="info">
        <div class="title margB2">{{ stagiaire.nom }} - {{ stagiaire.prenom }}</div>
        <div class="detail-ctn">
            <div class="detail-head">Informations</div>
            <div class="detail margR">
                <div class="titre">E-mail :</div>
                <div class="detail-txt">{{ stagiaire.email }}</div>
                <div class="titre">Sexe :</div>
                <div class="detail-txt">{{ stagiaire.sexe }}</div>
                <div class="titre">Date de Naissance :</div>
                <div class="detail-txt">{{ stagiaire.dateNaissance | date("d-m-Y") }}</div>
            </div>
            <div class="detail">
                <div class="titre">Telephone :</div>
                <div class="detail-txt">{{ stagiaire.telephone }}</div>
                <div class="titre">Ville :</div>
                <div class="detail-txt">{{ stagiaire.ville }}</div>
                <div class="titre">Age :</div>
                <div class="detail-txt">{{ stagiaire.age }}</div>
            </div>
        </div>
    </div>
</div>

<div class="ctn-tab">
    <div class="titre">Sessions</div>
    <table>
        <thead>
            <td>Intitule</td>
            <td>Formateur</td>
            <td>Date de Debut</td>
            <td>Date de Fin</td>
            <td>Places </td>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ session.intitule }}</td>
                <td>{{ session.formateur }}</td>
                <td>{{ session.dateDebut | date("d-m-Y") }}</td>
                <td>{{ session.dateFin | date("d-m-Y") }}</td>
                <td>{{ session.place }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}