{% extends 'base.html.twig' %} 

{% block title %}Detail Session{% endblock %} 

{%block body %}

<link rel="stylesheet" href="{{ asset('css/custom_autocomplete.css') }}" />
<link rel="stylesheet" href="{{ asset('css/detailSession.css') }}" />

<div class="forma">
  <div class="title-ctn">
    <div class="title">{{ session.intitule }}</div>
  </div>
  <div class="detail-ctn">
    <div class="detail margR">
      <div class="titre">Formateur Référent :</div>
      <div class="detail-txt">{{ session.formateur }}</div> 
      <div class="titre">Date de Début :</div>
      <div class="detail-txt">{{ session.dateDebut | date("d-m-Y") }}</div>
      <div class="titre">Date de Fin :</div>
      <div class="detail-txt">{{ session.dateFin | date("d-m-Y") }} </div>
    </div>
    <div class="detail">
      <div class="titre">Nombre de Places :</div>
      <div class="detail-txt">{{ session.place }} </div>
      <div class="titre">Nombre de Places Disponible :</div>
      <div class="detail-txt">{{ placeL }}</div> 
      <div class="titre">Nombre de modules :</div>
      <div class="detail-txt">{{ nbModules }} </div>
  </div>
</div>

<div class="ctn-tab">
  <div class="titre">Formateur</div>
  {{ form_start(formFormateur) }}
  <div class="search">
    {{ form_row(formFormateur, { label: false }) }}
  </div>
  {{ form_end(formFormateur) }}
</div>

<div class="ctn-tab">
<div class="titre">Programme</div>
  <table>
    <thead>
      <tr class="action">
        <td>Module</td>
        <td>Catégorie</td>
        <td>Durée</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {% for programme in programmes %}
      <tr>
        <td><a href="{{ path('show_module', {'id': programme.module.id }) }}"> <div class="link">{{ programme.module.nom }}</div></a></td>
        {% if programme.module.categorie.nom is defined %}
        <td><a href="{{ path('show_module', {'id': programme.module.id}) }}"><div class="link">{{ programme.module.categorie.nom }}</div></a></td>
        {% else %}
        <td><div class="link">aucune</div></td>
        {% endif %}
        <td><a href="{{ path('show_module', {'id': programme.module.id}) }}"><div class="link">{{ programme.duree }} Jours</div></a></td>
        <td>
          <a
            href="{{
              path('remove_programme', {
                id: session.id,
                programmeId: programme.id,
                route: 'show_session',
              })
            }}"
            >Déprogrammer</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="ctn-tab">
  <div class="titre">Ajouter Programme</div>
  {{ form_start(formModulesAC) }}
  <div class="search flex-ctn f-center">
    {{ form_row(formModulesAC.module, { label: false }) }}
    {{ form_row(formModulesAC.duree, { label: false }) }}
    {{ form_row(formModulesAC.submit) }}
  </div>
  {{ form_end(formModulesAC) }}
</div>

<div class="ctn-tab">
  <div class="titre">Stagiaire</div>
  <table>
    <thead>
      <tr class="action">
        <td>Stagiaire</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {% for stagiaire in stagiaires %}
      <tr>
        <td><a href="{{ path('show_stagiaire', {'id': stagiaire.id }) }}"> <div class="link">{{ stagiaire.prenom }} - {{ stagiaire.nom }}</div></a></td>
        <td>
          <a
            href="{{
              path('remove_stagiaire', {
                stagiaire: stagiaire.id,
                session: session.id,
                route: 'show_session',
                id: session.id
              })
            }}"
            >Désinscrire</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="ctn-tab">
  <div class="titre">Ajouter Stagiaire</div>
  {{ form_start(formStagiaireAC) }}
  <div class="search">
    {{ form_row(formStagiaireAC, { label: false }) }}
  </div>
  {{ form_end(formStagiaireAC) }}
</div>
</div>

{% endblock %}
