{% extends 'base.html.twig' %}

{% block title %}Detail Session{% endblock %}

{% block body %}


<h1>{{ session.intitule }}</h1><br>
{{ session.formateur }} <br>
{{ session.dateDebut }} <br>
{{ session.dateFin }} <br>
{{ session.place }} <br>


{% endblock %}