{% extends 'base.html.twig' %} {% block title %}Detail Session{% endblock %} {%
block body %}

<h1>{{ session.intitule }}</h1>
<br />
{{ session.formateur }} <br />
{{ session.dateDebut | date("d-m-Y") }} <br />
{{ session.dateFin | date("d-m-Y") }} <br />
{{ session.place }} <br />
{{ placeL }} <br />
{{ nbModules }} <br />

<br />
<h2>Programme</h2>
<br />

<table>
  <thead>
    <td>Module</td>
    <td>Catégorie</td>
    <td>Durée</td>
    <td>Action</td>
  </thead>
  <tbody>
    {% for programme in programmes %}
    <tr>
      <td>{{ programme.module.nom }}</td>
      <td>{{ programme.module.categorie.nom }}</td>
      <td>{{ programme.duree }} Jours</td>
      <td>
        <a
          href="{{
            path('remove_programme', {
              id: session.id,
              programmeId: programme.id,
              route: 'show_session',
            })
          }}"
          >Déprogrammer</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ form_start(formModulesAC) }}
<div class="search">
  {{ form_row(formModulesAC, { label: false }) }}
</div>
{{ form_end(formModulesAC) }}

<br />
<h2>Stagiaire</h2>
<br />

<table>
  <thead>
    <td>Stagiaire</td>
    <td>Action</td>
  </thead>
  <tbody>
    {% for stagiaire in stagiaires %}
    <tr>
      <td>{{ stagiaire.prenom }} - {{ stagiaire.nom }}</td>
      <td>
        <a
          href="{{
            path('remove_stagiaire', {
              stagiaire: stagiaire.id,
              session: session.id,
              route: 'show_session',
              id: session.id
            })
          }}"
          >Désinscrire</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ form_start(formStagiaireAC) }}
<div class="search">
  {{ form_row(formStagiaireAC, { label: false }) }}
</div>
{{ form_end(formStagiaireAC) }}

{% endblock %}
