{% extends 'base.html.twig' %}

{% block title %}Liste Modules{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/formation.css") }}>
<div class="forma">
    <div class="title-ctn">
        <div class="title">Modules</div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Liste des Modules</div>
            <div class="tab">
                <table>
                    <thead>
                        <td>Intitulé</td>
                        <td>Categorie</td>
                    </thead>
                    <tbody>
                    {% for module in modules %}
                        <tr>
                            <td><a href="{{ path('show_module', {'id': module.id}) }}">{{ module.nom }}</a></td>
                            {% if module.categorie.nom is defined %}
                            <td><a href="{{ path('show_module', {'id': module.id}) }}">{{ module.categorie.nom }}</a></td>
                            {% else %}
                            <td>aucune</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}