{% extends 'base.html.twig' %}

{% block title %}Liste Modules{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/formation.css") }}>
<link rel="stylesheet" href="{{ asset('css/custom_autocomplete.css') }}">

<div class="forma">
    <div class="title-ctn">
        <div class="title">Modules</div>
    </div>
    <div class="search-ctn">
        <div class="titre">Recherche</div>
        {{ form_start(form) }}
        <div class="search">
            {{ form_row(form.module, {'label':false})}}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Liste des Modules</div>
            <div class="tab">
                <table>
                    <thead>
                        <tr class="action">
                            <td>Intitulé</td>
                            <td>Categorie</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for module in modules %}
                        <tr>
                            <td><a href="{{ path('show_module', {'id': module.id}) }}"><div class="link"> {{ module.nom }}</div></a></td>
                            {% if module.categorie.nom is defined %}
                            <td><a href="{{ path('show_module', {'id': module.id}) }}"><div class="link">{{ module.categorie.nom }}</div></a></td>
                            {% else %}
                            <td>aucune</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}