{% extends 'base.html.twig' %}

{% block title %}Detail Modules{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("/css/module.css") }}>
<link rel="stylesheet" href="{{ asset('css/custom_autocomplete.css') }}" />
<div class="forma">
    <div class="title-ctn">
        <div class="title">{{ module.nom }}</div>
        <div class="title">Catégorie : {{ module.categorie }}</div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Assigner une Categorie</div>
            {{ form_start(formModule) }}
                <div class="search">
                {{ form_row(formModule, { label: false }) }}
                </div>
            {{ form_end(formModule) }}

        </div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Liste des Categories</div>
            <div class="tab">
                <table>
                    <thead>
                        <td>Categorie</td>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>{{ categorie.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}