{% extends 'base.html.twig' %}

{% block title %}Liste Stagiaire{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/administration.css') }}" />

<div class="forma">
<div class="title-ctn">
    <div class="title">Administration</div>
</div>
<div class="carte-ctn">
    <div class="carte">
        <div class="carte-h">Formation</div>
        <div class="carte-m">
            <a onclick="openNav('foA')"><div class="carte-l">Ajouter</div></a>
            <a onclick="openNav('foM')"><div class="carte-r">Modifier</div></a>
        </div>
        <a onclick="openNav('foS')"><div class="carte-f">Supprimer</div></a>
    </div>
    <div class="carte">
        <div class="carte-h">Session</div>
        <div class="carte-m">
            <a onclick="openNav('seA')"><div class="carte-l">Ajouter</div></a>
            <a onclick="openNav('seM')"><div class="carte-r">Modifier</div></a>
        </div>
        <a onclick="openNav('seS')"><div class="carte-f">Supprimer</div></a>
    </div>
    <div class="carte">
        <div class="carte-h">Stagiaire</div>
        <div class="carte-m">
            <a onclick="openNav('stA')"><div class="carte-l">Ajouter</div></a>
            <a onclick="openNav('stM')"><div class="carte-r">Modifier</div></a>
        </div>
        <a onclick="openNav('stS')"><div class="carte-f">Supprimer</div></a>
    </div>
    <div class="carte">
        <div class="carte-h">Formateur</div>
        <div class="carte-m">
            <a onclick="openNav('feA')"><div class="carte-l">Ajouter</div></a>
            <a onclick="openNav('feM')"><div class="carte-r">Modifier</div></a>
        </div>
        <a onclick="openNav('feS')"><div class="carte-f">Supprimer</div></a>
    </div>
    <div class="carte">
        <div class="carte-h">Modules</div>
        <div class="carte-m">
            <a onclick="openNav('moA')"><div class="carte-l">Ajouter</div></a>
            <a onclick="openNav('moM')"><div class="carte-r">Modifier</div></a>
        </div>
        <a onclick="openNav('moS')"><div class="carte-f">Supprimer</div></a>
    </div>
    <div class="carte">
        <div class="carte-h">Categories</div>
        <div class="carte-m">
            <a onclick="openNav('caA')"><div class="carte-l">Ajouter</div></a>
            <a onclick="openNav('caM')"><div class="carte-r">Modifier</div></a>
        </div>
        <a onclick="openNav('caS')"><div class="carte-f">Supprimer</div></a>
    </div>
</div>
</div>


<div id="foA" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('foA')">&times;</a>
    <div class="overlay-content">
        {{ form_start(formAddFormation) }}
        <div class="lab">
            {{form_label(formAddFormation, "Intitulé de Formation")}}
        </div>
            {{ form_row(formAddFormation.intitule, {label:false}) }}
            {{ form_row(formAddFormation.submit) }}
        {{ form_end(formAddFormation) }}
    </div>
</div>

<div id="seA" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('seA')">&times;</a>
    <div class="overlay-content">
        {{ form(formAddSession) }}
    </div>
</div>

<div id="stA" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('stA')">&times;</a>
    <div class="overlay-content">
        {{ form(formAddStagiaire) }}
    </div>
</div>

<div id="feA" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('feA')">&times;</a>
    <div class="overlay-content">
        {{ form(formAddFormateur) }}
    </div>
</div>

<div id="moA" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('moA')">&times;</a>
    <div class="overlay-content">
        {{ form(formAddModules) }}
    </div>
</div>

<div id="caA" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('caA')">&times;</a>
    <div class="overlay-content">
        {{ form(formAddCategorie) }}
    </div>
</div>

<div id="foM" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('foM')">&times;</a>
    <div class="overlay-content">
        {{ form(formFormation) }}
    </div>
</div>

<div id="seM" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('seM')">&times;</a>
    <div class="overlay-content">
        {{ form(formSession) }}
    </div>
</div>

<div id="stM" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('stM')">&times;</a>
    <div class="overlay-content">
        {{ form(formStagiaire) }}
    </div>
</div>

<div id="feM" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('feM')">&times;</a>
    <div class="overlay-content">
        {{ form(formFormateur) }}
    </div>
</div>

<div id="moM" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('moM')">&times;</a>
    <div class="overlay-content">
        {{ form(formModules) }}
    </div>
</div>

<div id="caM" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('caM')">&times;</a>
    <div class="overlay-content">
        {{ form(formCategorie) }}
    </div>
</div>

<div id="foS" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('foS')">&times;</a>
    <div class="overlay-content">
        {{ form(formFormationDelete) }}
    </div>
</div>

<div id="seS" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('seS')">&times;</a>
    <div class="overlay-content">
        {{ form(formSessionDelete) }}
    </div>
</div>

<div id="stS" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('stS')">&times;</a>
    <div class="overlay-content">
        {{ form(formStagiaireDelete) }}
    </div>
</div>

<div id="feS" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('feS')">&times;</a>
    <div class="overlay-content">
        {{ form(formFormateurDelete) }}
    </div>
</div>

<div id="moS" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('moS')">&times;</a>
    <div class="overlay-content">
        {{ form(formModulesDelete) }}
    </div>
</div>

<div id="caS" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('caS')">&times;</a>
    <div class="overlay-content">
        {{ form(formCategorieDelete) }}
    </div>
</div>

<script src="{{ asset('js/administration.js') }}"></script>


{% endblock %}