{% extends 'base.html.twig' %}

{% block title %}Liste Formateur{% endblock %}

{% block body %}

<link rel="stylesheet" href={{ asset("css/formateur.css") }}>
<div class="forma">
    <div class="title-ctn">
        <div class="title">Formateur</div>
    </div>
    <div class="search-ctn">
        <div class="titre">Recherche</div>
    </div>
    <div class="ctn-tab">
        <div class="cadre-tab">
            <div class="titre">Liste des Formateurs</div>
            <div class="flex-ctn">
                {% for formateur in formateurs %}
                <a href="{{ path('show_formateur', {'id': formateur.id}) }}">
                <div class="carte">
                    <img class="miniature" src={{ asset("Formateur/" ~ formateur.portrait) }}></img>
                    <div class="carte-info">
                        <div class="carte-n">{{ formateur.nom }}</div>
                        <div class="carte-p">{{ formateur.prenom }}</div>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
